{% load static %}


<li class="list-group-item" data-comment-id="{{ comment.id }}"
    style="padding-left: {{ level|add:"0" }}0px;">
  <div class="d-flex justify-content-between">
    <div>
      <strong>{{ comment.name }}</strong>
      <span class="text-muted small ml-2">
        {{ comment.created_at|date:"d/m/Y H:i" }}
      </span>
    </div>
    <div>
      {% if user.is_authenticated %}
        <a href="#" class="reply-btn text-primary small"
           data-comment-id="{{ comment.id }}">
          Reply
        </a>
      {% endif %}
    </div>
  </div>

  <div class="mt-2">
    {{ comment.message|linebreaksbr }}
  </div>

  {% if comment.replies.all %}
    <ul class="list-group list-group-flush mt-2">
      {% for child in comment.replies.all|dictsortreversed:"created_at" %}
        {% include "articleDetail/_comment_item.html" with comment=child level=level|add:"1" %}
      {% endfor %}
    </ul>
  {% endif %}
</li>
